<ul class="thumbnails">
  <% @products.each do |product| %>
    <li class="span2">
      <div class="thumbnail">
        <%= link_to(product_path(product)) do %>
          <img src="http://placehold.it/260x180" alt="">
        <% end %>
        <div class="caption">
          <h5><%= product.name %></h5>
          <p><span class="label label-inverse" style="background-color: black !important">$ <%= product.price %></span></p>
          <hr/>
          <p>
            <%= link_to 'Edit', edit_product_path(product), :class => 'btn btn-mini' %>
            <%= link_to 'Delete', '#', :class => 'btn btn-mini btn-danger', :onclick => "dangerConfirm('#{product_path(product)}','#{product.name}')" %>
          </p>
        </div>
      </div>
    </li>
  <% end %>
</ul>