<% if flash[:notice] %>
<div class="alert alert-success">
  <a class="close" data-dismiss="alert">×</a>
  <span><%= flash[:notice]%></span>
</div>
<% end %>
<div>
  <ul class="breadcrumb">
    <li>
      <%= link_to 'Home', products_path %> <span class="divider">/</span>
    </li>
    <li>
      <%= link_to 'Products', products_path %> <span class="divider">/</span>
    </li>
    <li class="active"><%= @product.name %></li>
  </ul>  
</div>
<%= render 'remove' %>
<div class="row">
  <section class="span8">
    <div class="page-header">
      <h1>
        <%= @product.name %>
      </h1>
    </div>
    <br/>
    <div class="row">

      <div class="span3"> <!-- Start of Prices -->
        <img src="http://placehold.it/260x180" alt="">
      </div> <!-- End of Prices -->

      <div class="span4">
        <h3>Description</h3>
        <p>
          <%= @product.description %>  
        </p>
      </div>
    </div>
    <div class="row">  
      <div class="span3"> <!-- Start of Prices -->
        <h3>Price</h3>
        <p>$ 399.22</p>
      </div> <!-- End of Prices -->
      <div class="span2"> <!-- Start of Stores -->
        <h3>Stores</h3>        
        <adress>
          175 Curtner Avenue<br/>
          San Jose, CA<br/>
          United States<br/>
        </adress>
        <a href="#">Map</a>
      </div> <!-- End of Stores -->
      <div class="span2">
        <h3>Tags</h3>
        <ul class="nav">
          <% @product.tags.each do |tag| %>
            <li><a href="#"><i class="icon-tag"></i> <%= tag %></a></li>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="form-actions">
      <%= link_to 'Back', products_path, :class => 'btn'  %>
      <%= link_to 'Edit', edit_product_path(@product), :class => 'btn' %>
      <%= link_to 'Delete', '#', :class => 'btn btn-danger', :onclick => "dangerConfirm('#{product_path(@product)}','#{@product.name}')" %>
    </div>
  </section>

</div>


