<% if flash[:notice] %>
  <div class="alert alert-success">
    <a class="close" data-dismiss="alert">×</a>
    <span><%= flash[:notice]%></span>
  </div>
<% end %>
<div>
  <ul class="breadcrumb">
    <li>
      <%= link_to 'Home', products_path %> <span class="divider">/</span>
    </li>
    <li>
      <%= link_to 'Products', products_path %> <span class="divider">/</span>
    </li>
    <li class="active"><%= @product.name %></li>
  </ul>  
</div>
<%= render 'remove' %>
<div>
  <h1><%= @product.name %></h1>
  <p>
    <b>Price</b><br>
    <%= @product.price %>
  </p>  
</div>

<div class="form-actions">
  <%= link_to 'Back', products_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_product_path(@product), :class => 'btn' %>
  <%= link_to 'Delete', '#', :class => 'btn btn-danger', :onclick => "dangerConfirm('#{product_path(@product)}','#{@product.name}')" %>
</div>
